#black,
.black {
  background-image: url("../_img/black-markertip-button.jpg");
  background-color: #000000;
}

#red,
.red {
  background-image: url("../_img/red-markertip-button.jpg");
  background-color: #ff3300;
}

#blue,
.blue {
  background-image: url("../_img/blue-markertip-button.jpg");
  background-color: #3399ff;
}

#teal,
.teal {
  background-image: url("../_img/turquoise-markertip-button.jpg");
  background-color: #66ffcc;
}

#yellow,
.yellow {
  background-image: url("../_img/yellow-markertip-button.jpg");
  background-color: #ffff66;
}

#brown,
.brown {
  background-color: #993333;
  background-image: url("../_img/brown-markertip-button.jpg");
}

#pink,
.pink {
  background-image: url("../_img/pink-markertip-button.jpg");
  background-color: #ffccff;
}

#green,
.green {
  background-image: url("../_img/green-markertip-button.jpg");
  background-color: #00ff00;
}

#grey,
.grey {
  background-image: url("../_img/grey-markertip-button.jpg");
  background-color: #e6e6e6;
}
