* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: sans-serif;
  margin: 20px 0;
}

h1 {
  margin: 1em 0 1em;
}

table {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 1px solid gray;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

#colors {
  margin-bottom: 15px;
  display: inline-block;
}

#colors li {
  width: 40px;
  height: 40px;
}

#colors li.checked {
  box-shadow: 0 8px 6px -6px black;
}

#reset {
  vertical-align: top;
  display: inline-block;
  margin-left: 65px;
  background-repeat: no-repeat;
  background-color: #04bab1;
  border: none;
  width: 65px;
  padding: 10px 0;
  box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.1),0px 1px 1px rgba(0,0,0,0.1);
  outline: none;
  color: #FFF;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  border-radius: 3px;
}

#pixelShirt table {
  overflow: hidden;
}

#pixelShirt tr:hover{
  background-color: #F0FFFF;
  /*font-weight: bold;*/
}

#pixelShirt td,
#pixelShirt th {
  position: relative;
  cursor: crosshair;
}

#pixelShirt td p {
  font-size: 14px;
  position: absolute;
  width:16px;
}

#pixelShirt td:hover::after,
#pixelShirt th:hover::after {
  content: "";
  position: absolute;
  background-color: #F0FFFF;
  /*font-weight: bold;*/
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

#pixelShirt td div {
  background-image: none !important;
  width: 16px;
  height: 16px;
}

#pixelShirt td div:hover {
  outline: #000000 dotted thick;
}

.logo {
  margin: 0 auto;
  text-align: right;
  width: 655px;
}

li {
  display: inline-block;
}

.hidden {
  display: none;
}
